<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @Scripts.Render("~/bundles/GameDeals")
    <script src="Scripts/callback.js"></script>
</body>
</html>