@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <br />

    <div id="content">

    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Game Deals</p>
    </footer>
</div>

<div data-bind="visible: loading" class="spinner" id="loading-indicator">
    <img src="@Url.Content("~/Content/Images/loading.gif")" class="spinner-element" />
</div>
